#ifndef POKEPLATINUM_GENERATED_POKEMON_BSTS_H
#define POKEPLATINUM_GENERATED_POKEMON_BSTS_H

#include "pokemon.h"

static const u16 Pokemon_BST_LUT[] = {
/* =========== MAGIC CONTENT MARKER =========== */
};

#endif
